.projects {
    padding: 50px;
   /* background-color: #f4f4f9;*/
    text-align: center;
  }
  
  .projects h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #777;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .project-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
  }
  
  .project-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .project-card:hover .project-info {
    opacity: 1;
  }
  
  .project-info h3 {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .project-info p {
    margin: 10px 0;
    font-size: 1em;
  }
  
  .project-link {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
  }
  
  .project-link:hover {
    background-color: #ff4757;
  }
  


  @media (max-width: 768px) {
    .projects h2 {
      font-size: 2em;
    }
  
    .project-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 480px) {
    .projects h2 {
      font-size: 1em;
    }
  }