.about {
    padding: 50px;
    /*background-color: #f9f9f9;*/
  }
  
  .about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .about-text {
    max-width: 600px;
  }
  
  .about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  

  @media (max-width: 600px) {
    .about h2 {
      font-size: 1.5em;
    }
    
    .about-text p {
      font-size: 1em;
    }
  }